*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: sans-serif;
}
header{
    background-image: url(../it/css/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 200px;
}
header i{
    font-size: 43px;
    color: papayawhip;
    margin: 10px;
    text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;
}
.iocn_span{
    color: papayawhip;
    text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding:-3px 3px 3px;
}
header #navigation{
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 8px 0px;
}
header ul li {
    color: papayawhip;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    padding: 8px;
    font-size: 15px;
    text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;
}
header ul li a{
    text-decoration: none;
    color: papayawhip;
}
header ul #doctors{
    color:#6f0628 ; 
    border-bottom: 3px solid #6f0628 ;
    text-shadow: none;
    border-radius: 5px;
}
header ul li :hover{
    color:#6f0628 ; 
    border-bottom: 3px solid #6f0628 ;
    border-radius: 5px;
    text-shadow: none;
}
main #specialish h2{
    text-align: center;
    margin: -70px 0px 50px;
    font-size: 45px;
    text-transform: uppercase;

}
main  #specialish p{
    text-align: center;
    font-size: 25px;
    width: 75%;
    margin: 50px 0px 65px 150px;
    font-family: cursive;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.672);
}  
main .doctors{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
main .doctors div{
    margin: 40px 0px 40px 0px;
}
main .doctors img{
    width: 250px;
    height: 250px;
    margin:76px 0px 76px 45px;
    border-radius: 125px;
}
main .doctors  h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    margin: -20px 22px 15px 30px;
    background-color: rgba(235, 210, 216, 0.741);
    color:black; 
    border-radius: 5px 5px 0px 0px;
}
main .doctors p{
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.789);

}
main .doctors .one{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    background-color: rgba(235, 210, 216, 0.741);
    color:black; 
    margin: -15px 22px 35px 30px;
    border-radius:0px 0px  5px 5px;

}
main .doctors i{
    margin: 15px 0px  15px 75px;
    color:rgb(204, 125, 141);

}
main .second{
    text-align: center;
}
main .second button{
    padding: 20px;
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
main .second a{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 45px;
    color: rgb(204, 125, 141);
}
main .second button:hover{
    background-color: black;
}
main .third{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    align-items: center;
    align-content: center;
    background-color:rgb(204, 125, 141);
    margin-top: 20px;
}
main .third h2{
    font-size: 40px;
    margin: 100px 100px 50px;
    text-transform: capitalize;
}
main .third p{
    font-size: 25px;
    margin: 10px;
    text-transform: capitalize;
}
footer{
    width: 100%;
    height: 280px;
    background-color: black;
    overflow: hidden;
}
footer .phone i{
    color: palevioletred;
    font-size: 20px;
    margin: 29px;
    position: absolute;
    left: 20px;
}
footer .phone h3{
    color: beige;
    position: absolute;
    left: 50px;
    margin: -7px 25px;
    padding: 10px;
}
footer .phone p{
    color: rgba(245, 245, 220, 0.666);
    position: absolute;
    left: 50px;
    margin: 20px 15px;
    padding: 10px;
}
footer .email {
    float: right;
}
footer .email i{
    color: palevioletred;
    font-size: 20px;
    margin: 26px;
    position: absolute;
    right: 157px;
}
footer .email h3{
    color: beige;
    position: absolute;
    right: 120px;
    margin: -8px -28px;
    padding: 10px;
}
footer .email p{
    color: rgba(245, 245, 220, 0.666);
    margin: 17px 62px;
    padding: 10px;
}
footer #hlife{
    color: beige;
}
footer #hlife i{
    font-size: 25px;
    position: absolute;
    left: 41px;
    color: palevioletred;
    margin: -8px;
}
footer #hlife p{
    color: beige;
    line-height: 1.5;
    margin: 0px 25px;
    overflow: hidden;
    width: 400px;
    font-size: 16px;
}
footer #hlife h3{
    color: beige;
    margin: 22px 71px 13px;;
}
footer #follow-us{
    float: right;
    margin-top: -165px;
    margin-right:85px;
}
footer #follow-us span i{
    color: palevioletred;
    font-size: 28px;
    padding: 10px;
    position: relative;
    right: -75px;
    margin: 0px 20px 0px 10px;
}
footer #follow-us h3{
    color: beige;
    margin: 0px 0px 0px 150px;
}


